/* Common --------------------------*/

body {
    font-family: 'Roboto', sans-serif;
}

main {
    height: calc(100vh - 4.375rem);
    overflow-y: auto;
}

/* Common *--------------------------/


/* Main ----------------------------*/


/* Header -------------------------- */

.container_header_main {
    height: 4.375rem;
}

/* Header -------------------------- */



/* Aside ----------------------------*/

.a_side {
    background-color: #051e34;
    height: calc(100vh - 4.375rem);
    background-image: url('img/sidebar-bg.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.top_container {
    height: 95%;
}

.bottom_container {
    height: auto;
}

.img_header01 {
    height: 2.5rem;
    width: 7.5rem;
}

.img_header02 {
    height: 2.5rem;
    width: 2.5rem;
}

.hover_aside:hover {
    background-color: rgba(243, 243, 243, 0.502);
    border-radius: .3125rem;
}

/* Aside ------------------------------*/

/* Container right side --------------- */

.container_right_side {
    height: calc(100vh - 4.375rem);
    overflow: auto;
}

.top_main_container {
    background-color: #1b72e8;
    color: white;
}

.fa-bell {
    color: orange;
}

.fa-bars,
.fa-circle-question,
.fa-ellipsis-vertical,
.fa-magnifying-glass {
    color: grey;
}

/* Img-stat */

.img_card {
    max-width: 34.375rem;
    max-height: 16.25rem
}

/* Img-stat */

/* Buttons Table */

.btn-circle.btn-xl {
    width: 1.875rem;
    height: 1.875rem;
    padding: .125rem .125rem;
    border-radius: 3.75rem;
    font-size: .875rem;
    text-align: center;
}

.btn-state.btn-x2 {
    width: 3.75rem;
    height: 1.875rem;
    padding: .125rem .125rem;
    border-radius: .9375rem;
    font-size: .875rem;
    text-align: center;
}

/* Buttons Table */

/* Container right side --------------- */

/* Main */
