.container_header_main{
    background-color: aqua;
    height: 4.375rem;
}

main{
    height:calc(100vh - 4.375rem );
    overflow-y: auto;
}

.a_side{
    /* width: auto; */
    background-color: blueviolet;
    height:calc(100vh - 4.375rem );
}

.container_right_side{
    /* width: auto; */
    background-color: cadetblue;
    height:calc(100vh - 4.375rem );
}

.top_container{
    height: 90%;
}

.bottom_container{
    height: 10%;
}
