
/* Common --------------------------*/

body {
    font-family: 'Roboto', sans-serif;
}

main {
    height: calc(100vh - 4.375rem);
    overflow-y: auto;
}

/* Common *--------------------------/


/* Main ----------------------------*/


/* Header -------------------------- */

.container_header_main {
    height: 4.375rem;
}

/* Header -------------------------- */



/* Aside ----------------------------*/

.a_side {
    background-color: #051e34;
    height: calc(100vh - 4.375rem);
}

.top_container {
    height: 90%;
}

.bottom_container {
    height: 10%;
}

.img_header01 {
    height: 40px;
    width: 120px;
}

.img_header02 {
    height: 40px;
    width: 40px;
}

/* Aside ------------------------------*/

/* Container right side --------------- */

.container_right_side {
    height: calc(100vh - 4.375rem);
    overflow: auto;
}

.top_main_container {
    background-color: #1b72e8;
    color: white;
}

.fa-bell {
    color: orange;
}

/* Img-stat */

.img_card{
    max-width: 34.375rem;
    max-height: 16.25rem
}

/* Img-stat */

/* Buttons Table */

.btn-circle.btn-xl {
    width: 30px;
    height: 30px;
    padding: .125rem .125rem;
    border-radius: 60px;
    font-size: 14px;
    text-align: center;
}

.btn-state.btn-x2 {
    width: 60px;
    height: 30px;
    padding: .125rem .125rem;
    border-radius: 15px;
    font-size: 14px;
    text-align: center;
}

/* Buttons Table */

/* Container right side --------------- */

/* Main */


















